body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #333333, #666666); /* Change the gradient colors as needed */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  